<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h3>Your ostrichs on sale</h3>
        </div>
        <div class="col-sm-4">
            <a (click)="add()" class="btn btn-primary" role="button">Add an Ostrich</a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let ostrich of ostrichs" class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/ostrichGallery/{{ ostrich.race | lowercase }}.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ ostrich.name }}</h4>
                    <p class="card-text">{{ ostrich.race | titlecase }}</p>
                    <p class="card-text">{{ ostrich.country }}</p>
                </div>
            </div>
        </div>
    </div>
</div>