<main>
  <div class="container">
    <h2>Welcome to you account {{ user.firstName }}</h2>
    <div class="row">

      <div class="col-md-3">
        <ul class="nav flex-column sidenav">

          <li *ngIf="userType =='user'" class="nav-item">
            <button 
            (click)="setContent('cart')" type="button" class="btn btn-info btn-lg btn-block">
              <i class="fas fa-shopping-cart"></i>Cart
            </button>
          </li>
          <li *ngIf="userType =='user'" class="nav-item">
            <button  
            (click)="setContent('favourites')" type="button" class="btn btn-info btn-lg btn-block">
              <i class="fas fa-heart"></i>Favourites
            </button>
          </li>

          <li *ngIf="userType =='farmer'" class="nav-item">
            <button             
            (click)="setContent('ostrichs')" type="button" class="btn btn-info btn-lg btn-block">
              <i class="fas fa-clipboard-list"></i>My ostrichs
            </button>
          </li>

          <li *ngIf="userType =='employee'" class="nav-item">
              <button              
              (click)="setContent('announces')" type="button" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-clipboard-list"></i>Announces
              </button>
          </li>

          <li class="nav-item">
              <button 
              (click)="setContent('profile')" type="button" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-user-cog"></i>Profile
              </button>
            </li>
            <li class="nav-item">
              <button 
              (click)="setContent('contact')" type="button" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-headset"></i>Contact
              </button>
          </li>
        </ul>
      </div>
      <div class="col-md-9 content">
        <app-announces *ngIf="activeMenu=='announces'" (activate)="ostrichActivate($event)" [ostrichs]="userOstrichs"></app-announces>
        <app-cart *ngIf="activeMenu=='cart'"></app-cart>
        <app-favourites *ngIf="activeMenu=='favourites'" [ostrichs]="userOstrichs"></app-favourites>
        <app-profile *ngIf="activeMenu=='profile'" [user]="user"></app-profile>
        <app-ostrichs *ngIf="activeMenu=='ostrichs'" (addOstrich)="setContent('addForm')" [ostrichs]="userOstrichs"></app-ostrichs>
        <app-contact *ngIf="activeMenu=='contact'"></app-contact>
        <app-ostrich-form *ngIf="activeMenu=='addForm'"></app-ostrich-form>
      </div>
    </div>
  </div>
</main>
