h2{
    margin: 2rem 0;
    font-size: 3rem;
}
.sidenav, .content{
    border: 1px groove #ffc400;
    border-radius: 5px;
}
.sidenav li{
    margin: 0.5rem;
}
button{
    display: flex;
    justify-content: space-around;
    align-content: center;
}