
.btn-filter{
    font-size: 1.8rem;
    border: 1px groove black;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0;
}
select{
    border-radius: 4px;
}
label{
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 0;
}
input, select{
    display: block;
    width: 100%;
    height: 30px;
}
.filter{
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.filter-criteria{
    align-items: center;
    justify-content: space-between;
}
.filter-title{
    padding-top: 0.8rem;
    text-align: center;
}