
    <div class="row filter">
      <div class="col-12 col-md-3 filter-title">
        <a (click)="reset()" class="btn-filter" data-toggle="collapse" data-target="#collapse-filter" role="button">
          <i class="fas fa-filter"></i> Filter
        </a>
      </div>
      <div class="col-12 col-md-9 collapse" id="collapse-filter">
        <div class="row filter-criteria">
            <div class="col-12 col-md-3  filter-country">
              <label for="country">Country: </label>
              <input #searchCountry 
                (keyup)="searchByCountry(searchCountry.value)" 
                type="search" class="form-control" name="country" placeholder="France..">
            </div>
            <div class="col-6 col-md-3  filter-price-min">
                <label for="price">Price min: <span>{{ priceMin.value }}</span></label>
                <input #priceMin 
                  (change)="searchByPrice(priceMin.value, priceMax.value)"
                  type="range" name="price" class="form-control" min="0" max="5000" step="100" value="0">
            </div>
            <div class="col-6 col-md-3  filter-price-max">
                <label for="price">Price max: <span>{{ priceMax.value }}</span></label>
                <input #priceMax 
                  (change)="searchByPrice(priceMin.value, priceMax.value)" 
                  type="range" name="price" class="form-control" min="5000" max="10000" step="100" value="20000">
            </div>
            <div class="col-12 col-md-3  filter-hashtag">
                <label for="hashtag">Hashtag: </label>
                <select #searchHashtag name="select-hashtag">
                  <option 
                    (click)="searchByHashtag()"></option>
                  <option 
                    *ngFor="let hashtag of hashtags" 
                    (click)="searchByHashtag(hashtag.id)">{{ hashtag.name }}</option>
                </select>
            </div>
        </div>
      </div>
    </div>
