<div class="container-fluid">
    <h3>Your profile</h3>
    <div class="row">
      <ul>
        <li>
          <p><span class="label">Name: </span>{{ user.firstName }} {{ user.lastName }}</p>
        </li>
        <li>
          <p><span class="label">Phone: </span>{{ user.phone }}</p>
        </li>
        <li>
          <p><span class="label">Adress: </span>{{ user.adressLine1 }} {{ user.adressLine2 }}</p>
        </li>
        <li>
          <p><span class="label">PostCode: </span>{{ user.postCode }}</p>
        </li>
        <li>
            <p><span class="label">City: </span>{{ user.city }}</p>
        </li>
        <li>
            <p><span class="label">Email: </span>{{ user.email }}</p>
        </li>
        <li>
            <p><span class="label">Country: </span>{{ user.country }}</p>
        </li>
      </ul>
    </div>
  </div>