<header class="container-fluid">
  <div class="row header">
    <div class="col-sm-2 homebar">
      <a name="link-shop" class="btn btn-dark btn-lg" routerLink="/shop" role="button">Shop</a>    
    </div>
    <div class="col-sm-8 titlebar">
      <h1>The Ostrich Shop</h1>
    </div>
    <div class="col-sm-2 logbar">
      <a *ngIf="!isLogged" class="btn btn-success btn-lg" routerLink="/login" role="button">Login</a>
      <a *ngIf="isLogged" (click)="logout()" class="btn btn-danger btn-lg" role="button">Logout</a>
      <a *ngIf="isLogged" class="btn btn-danger btn-lg" routerLink="/account" role="button">Account</a>
    </div>
  </div>
</header>