.logbar{
    padding: 1rem;
    text-align: right
}
.homebar{
    padding: 1rem;
    text-align: left
}
.titlebar{
    align-self: center;
    text-align: center;
}
h1{
    font-size: 5rem;
}
a{
    color: white !important;
}
.header{
    height: 65vh;
    background-color: goldenrod
}
@media screen and (min-width: 715px){
    .header{
        height: 50vh
    }
}
@media screen and (min-width: 1035px){
    .header{
        height: 30vh
    }
}
