h2{
    margin: 2rem 0;
    font-size: 3rem;
}
.card-body p{
    font-size: 0.8rem;
}
.label{
    font-weight: bold;
    font-style: italic;
}
.card-bot{
    text-align: center
}
.card-bot p{
    font-size: 1.2rem;
}