<main>
  <div class="container">
    <h2>Our selection</h2>
    <app-filter></app-filter>
    <div class="row">
      <div *ngFor="let ostrich of ostrichs" class="col-lg-4 col-md-6 col-12">
        <div class="card">
          <img class="card-img-top" src="assets/img/ostrichGallery/{{ ostrich.race | lowercase }}.jpg" alt="Card image cap">
          <div class="card-body card-top">
            <h3 class="card-title">{{ ostrich.name }}</h3>
            <p><span class="label">Country: </span>{{ ostrich.country }}</p>
            <p><span class="label">Weight: </span>{{ ostrich.weight }} Kg</p>
            <p><span class="label">Size: </span>{{ ostrich.size }} Cm</p>
            <p><span class="label">Race: </span>{{ ostrich.race | titlecase }}</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid laudantium vel ex qui quidem ducimus deleniti nulla doloremque amet distinctio perspiciatis, quas repellendus obcaecati perferendis sapiente excepturi harum veniam neque?</p>
          </div>
          <div class="card-body card-bot">
            <p>{{ ostrich.price | currency:'$' }}</p>
            <a class="btn btn-danger" href="#" role="button"><i class="fas fa-kiwi-bird"></i> Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>