
<main>
    <div class="container">
        <div class="row home-title">
          <h2>Welcome to the best ostrich shop!</h2>
        </div>
        <div class="row home-content">
          <p>Join the great familly of ostrichs fan around the world. From farmers to owners, our community unites millions around our common passion: the ostrich. Dont hesitate and join us now. With a simple subscription you can become the proud owner of a magnificent ostrich.</p>
        </div>
        <div class="row home-options">
          <div class="col-md-6">
            <h3>You can visit our shop</h3>
            <a name="btn-shop" class="btn btn-primary" routerLink="/shop" role="button">Shop</a>
          </div>
          <div class="col-md-6">
              <h3>...or create an account!</h3>
              <a name="btn-subscribe" class="btn btn-primary" routerLink="/subscribe" role="button">Subscribe</a>
            </div>
        </div>
    </div>
</main>