<div class="container-fluid">
    <h3>Contact Us</h3>
    <div class="row">
        <div class="col-md">
            <img src="assets/img/contact.jpg" alt="">
        </div>
        <div class="col-md">
        <h4>Our team</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum necessitatibus odio a optio et, cupiditate tempora, minus aut praesentium in minima itaque illum aspernatur veniam sed, aliquam ea recusandae?</p>
        <p><span class="label">Phone :</span> 0854 748 897</p>
        <p><span class="label">Email :</span> contact@ostrichfarm.os</p>
        </div>
    </div>
</div>