<div class="container-fluid">
    <h3>Add an ostrich to your offers</h3>
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-1-12 col-form-label">Name: </label>
        <div class="col-sm-1-12">
          <input type="text" class="form-control" name="name" id="name" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-1-12 col-form-label">Description: </label>
        <div class="col-sm-1-12">
          <textarea class="form-control" name="description" id="description" placeholder="She's a beautiful one ..." required></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="country" class="col-sm-1-12 col-form-label">Country: </label>
        <div class="col-sm-1-12">
          <input type="text" class="form-control" name="country" id="country" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="size" class="col-sm-1-12 col-form-label">Size: </label>
        <div class="col-sm-1-12">
          <input type="number" class="form-control" name="size" id="size" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="weight" class="col-sm-1-12 col-form-label">Weight: </label>
        <div class="col-sm-1-12">
          <input type="number" class="form-control" name="weight" id="weight" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="race" class="col-sm-1-12 col-form-label">Race: </label>
        <div class="col-sm-1-12">
          <select class="form-control" name="race" id="race" required>
            <option *ngFor="let race of races" value="{{ race }}">{{ race }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Action</button>
        </div>
      </div>
    </form>
</div>
  