<main>
  <div class="container">
    <form class="form-login">
      <div class="error alert-danger"><p>{{ errorMessage }}</p></div>
      <div class="form-group">
        <label for="login">Email address: </label>
        <input #email type="email" class="form-control" id="login" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">The email you entered at subscription.</small>
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input #password type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button (click)="formCheck(email.value, password.value)" class="btn btn-success" type="button">Login</button>
    </form>
  </div>
</main>