<div class="container-fluid">
  <h3>Announces to activate</h3>
  <div class="row">
      <div *ngFor="let ostrich of ostrichs" class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="assets/img/ostrichGallery/{{ ostrich.race | lowercase }}.jpg" alt="">
              <div class="card-body card-top">
                  <h4 class="card-title">{{ ostrich.name }}</h4>
                  <p class="card-text">{{ ostrich.race | titlecase }}</p>
                  <p class="card-text">{{ ostrich.country }}</p>
              </div>
              <div class="card-body card-bot">
                <a class="btn btn-success" (click)="activate(ostrich.id)" role="button">Activate</a>
              </div>
          </div>
      </div>
  </div>
</div>