<div class="container-fluid">
    <h3>Your wishlist</h3>
    <div class="row">
        <div *ngFor="let ostrich of ostrichs" class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/ostrichGallery/{{ ostrich.race | lowercase }}.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ ostrich.name }}</h4>
                    <p class="card-text">{{ ostrich.race | titlecase }}</p>
                    <p class="card-text">{{ ostrich.country }}</p>
                </div>
            </div>
        </div>
    </div>
</div>